@media only screen and (max-width: 992px) {
   .container{
   		max-width: 960px;
   }
   .contacts{
   	margin-right: 
   }
}
@media only screen and (max-width: 768px) {
   .container{
   		max-width: 720px;
   }
}
@media only screen and (max-width: 576px) {
   .container{
   		max-width: 540px;
   }
}
